@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*
Elementos
# = id (único)
. = classe (pode ter várias vezes)
elemento = tag/elemento (ex: div, p, nav)
* = todos os elementos
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

/*
* {
  margin: 0;                * remove as margens padrão dos elementos
  padding: 0;               * remove os espaçamentos internos padrão
  box-sizing: border-box;   * inclui borda e padding no cálculo do tamanho
  text-decoration: none;    * tira sublinhado de links e decorações de texto
  border: none;             * remove bordas padrão de inputs, botões etc.
  outline: none;            * remove contorno azul de foco (ex: inputs clicados)
  font-family: "Poppins", sans-serif; * define a fonte padrão da página
}*/

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
}

html {
  font-size: 62.5%;
}
/*A fonte do html por padrão é 16px e 62.5% equivale a 10px*/

body {
  color: var(--white-color);
}
/*color: Não muda o fundo, apenas as letras.*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

/*
  position: fixed;                  * fixa o header na tela, mesmo rolando a página
  top: 0;                           * cola no topo
  left: 0;                          * cola à esquerda
  width: 100%;                      * ocupa toda a largura da tela
  padding: 2rem 9%;                 * espaçamento interno: 2rem em cima/baixo e 9% nas laterais
  background: var(--bg-color);
  display: flex;                    * ativa o flexbox
  justify-content: space-between;   * distribui itens: logo à esquerda, icone no meio e menu à direita
  align-items: center;              * alinha verticalmente no centro
  z-index: 100;                     * garante que fique sobreposto a outros elementos. Elementos com z-index maior aparecem na frente de elementos com z-index menor
  visibility: hidden;
  opacity: 0;
*/

header.active {
  animation: show-header 1.5s linear forwards;
  animation-delay: 1.2s ;
}

/*
animation: show-header 1.5s linear forwards;
  * show-header → é o nome da animação definida em @keyframes.
  * 1.5s → duração da animação.
  * linear → velocidade constante (sem aceleração).
  * forwards → mantém o estado final da animação (não volta ao original).

animation-delay: 1.2s;
  * a animação só começa 1,2 segundos depois que o header ganhar a classe .active.
*/


@keyframes show-header {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*
Aqui só foi definido o estado final (100%):
  * visibility: visible; → torna o elemento visível.
  * opacity: 1; → deixa totalmente opaco (sem transparência).
*/

.logo {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 700;           /*Pode deixar o texto mais fino ou mais grosso*/
}

nav a {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;
  margin-left: 3.5rem;            /*Espaço à esquerda do link, separando de links anteriores*/
  transition: .5s;                /*transição suave de 0.5s para qualquer mudança de propriedade (ex: cor ao passar o mouse)*/
}

nav a:hover,
nav a.active {
  color: var(--main-color);
}

/*
nav a:hover       * Seleciona qualquer link (<a>) dentro do <nav> quando o mouse passa por cima. Permite criar um efeito visual de hover, como mudar a cor, sublinhado, etc.
nav a.active      * Seleciona o link que tem a classe .active
*/

#menu-icon {
  font-size: 4rem;
  display: none;   /* inicialmente escondido */
}

.bars-box {
  position: absolute;  /* posiciona o elemento de forma absoluta em relação ao ancestral com position: relative. Se o .pai não tiver position: relative, o .filho seria posicionado em relação à página inteira (body/html) */
  width: 100%;         /* ocupa toda a largura do elemento pai */
  height: 100%;        /* ocupa toda a largura do elemento pai */
  display: flex;       /* organiza os elementos filhos em linha, usando flexbox */
}

.bars-box .bar {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: hide-bars .5s ease-in-out both; /* aplica a animação chamada "hide-bars"
                                                duração: 0.5 segundos
                                                aceleração: ease-in-out (suave no início e no fim)
                                                "both" = mantém o estilo do início e do fim */
  animation-delay: calc(.1s * var(--i));     /* atraso da animação, calculado de acordo com a variável --i 
                                                (geralmente usada para criar um efeito em sequência: 
                                                barra 1 começa em 0.1s, barra 2 em 0.2s, barra 3 em 0.3s, etc.) */
}

@keyframes hide-bars {
  0% {
    transform: translateY(0);    /* posição inicial: barra normal, sem deslocamento */
  }
  100% {
    transform: translateY(100%); /* posição final: barra deslizada 100% para baixo, desaparecendo */
  }
}

.bars-box.active .bar {
  animation: show-bars .5s ease-in-out both;
  animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
  0% {
    transform: translateY(-100%); /* começa fora da tela, vindo de cima */
  }
  100% {
    transform: translateY(0);     /* termina na posição original, visível */
  }
}

section {
  position: absolute;
  width: 100%;              /* ocupa toda a largura do elemento pai */
  height: 100%;             /* ocupa toda a altura do elemento pai */
  padding: 10rem 9% 2rem;   /* espaçamento interno: 10rem topo, 9% lateral, 2rem base */
  visibility: hidden;
  opacity: 0;
  overflow: hidden;         /* esconde qualquer conteúdo que ultrapasse a área da section */
}

section.active {
  animation: show-content 1.5s linear forwards;  /* aplica a animação chamada show-content
                                                    duração: 1.5 segundos
                                                    linear = velocidade constante
                                                    forwards = mantém o estado final da animação */
  animation-delay: 1.6s;   /* espera 1,6 segundos antes de iniciar a animação */
}

@keyframes show-content {
  100% {
    visibility: visible;   /* garante que a section fique visível no fim */
    opacity: 1;            /* deixa a section totalmente opaca */
    overflow: auto;        /* permite rolagem se o conteúdo ultrapassar os limites */
  }
}

.home {
  display: flex;          /* transforma o container em flexbox, permitindo organizar os filhos em linha (horizontal) */
  align-items: center;    /* alinha verticalmente os elementos ao centro do container */
  gap: 5rem;              /* espaçamento de 5rem entre cada elemento filho */
}

.home-detail h1 {
  font-size: clamp(3.5rem, 10vw, 5.5rem);
}

/*
A função clamp(min, valor-preferido, max) define um tamanho responsivo e limitado:
- 3.5rem → valor mínimo. A fonte nunca ficará menor que isso.
- 10vw → valor preferido, relativo à largura da viewport (10% da largura da tela).
- 5.5rem → valor máximo. A fonte nunca ficará maior que isso.
*/

.home-detail h2 {
  display: inline-block;   /* faz o h2 se comportar como um bloco inline, permitindo definir largura, altura e margens, mas sem quebrar linha automaticamente */
  font-size: 3.2rem;
  margin-top: -1rem;       /* recua o h2 1rem para cima, útil para ajustar sobreposição ou alinhamento com outros elementos */
}

.home-detail h2 p {
  font-size: 3.2rem;
  margin-top: -1rem;       /* recua o h2 1rem para cima, útil para ajustar sobreposição ou alinhamento com outros elementos */
}

.home-detail h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: .07rem var(--main-color);
  animation: display-text 8s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  50%,100% {
    display: none;
  }
}

.home-detail h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: .2rem solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,100% {
    width: 0;
  }
  70%,90% {
    width: 100%;
  }
}


.home-detail p {
  font-size: 1.6rem;
  margin: 1rem 0 2.5rem;    /* margem: 1rem topo, 0 laterais, 2.5rem base */
}

.home-detail .btn-sci {
  display: flex;             /* coloca os elementos filhos lado a lado */
  align-items: center;       /* alinha os itens verticalmente no centro */
}

/*
display: block - ocupada toda a tela. Div, títulos, parágrafos, form, header, footer e scection vem como padrão display do tipo block
display: inline - elemento não inicia numa nova linha nem ocupa toda a extensão da página, mas ocupa a extensão na mesma linha na largura do conteúdo dela. Tags a, span, image vem por padrão inline.
*/

.home-detail .btn-sci .sci {
  margin-left: 2rem;
}

.home-detail .btn-sci .sci a {
  display: inline-block;                 /* faz o link se comportar como bloco em linha, permitindo largura, altura e padding */
  padding: .8rem;                        /* adiciona espaço interno ao redor do ícone, aumentando a área clicável */
  border: .2rem solid var(--main-color); /* cria uma borda circular colorida usando a variável CSS --main-color */
  border-radius: 50%;                    /* deixa a borda completamente arredondada, formando um círculo */
  font-size: 2rem;                       /* aumenta o tamanho do ícone (caso seja uma fonte de ícone como FontAwesome) */
  color: var(--main-color);              /* define a cor do ícone inicialmente */
  margin: 0 .8rem;                       /* adiciona espaço horizontal entre os links */
  transition: .5s;                       /* suaviza mudanças de estilo, como no hover */
}

.home-detail .btn-sci .sci a:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color); /*0: deslocamento horizontal da sombra; 0: deslocamento vertical da sombra; 1rem → blur radius (desfoque da sombra, maior valor = sombra mais difusa)*/
}

.home-img .img-box {
  position: relative;           /* permite posicionamento absoluto de elementos filhos dentro da caixa */
  width: 32vw;                  /* largura igual a 32% da largura da viewport */
  height: 32vw;                 /* largura igual a 32% da altura da viewport */
  border-radius: 50%;           /* deixa o container completamente circular */
  padding: .5rem;               /* espaço interno ao redor do conteúdo (imagem) */
  display: flex;                /* ativa flexbox para organizar o conteúdo internamente */
  justify-content: center;      /* alinha horizontalmente o conteúdo ao centro */
  align-items: center;          /* alinha verticalmente o conteúdo ao centro */
  overflow: hidden;             /* corta qualquer conteúdo que ultrapasse os limites circulares */
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: '';                        /* necessário para que o pseudo-elemento exista */
  position: absolute;                 /* permite posicionamento sobre o container */
  width: 32vw;
  height: 32vw;
  background: conic-gradient(transparent, transparent, transparent, var(--main-color));
  /* cria um efeito de borda circular colorida que parece um arco girando */
  transform: rotate(0deg);            
  animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-radius: 50%;
  border: .01rem solid var(--bg-color);
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.home-img .img-box .img-item img {
  position: absolute;           /* tira a imagem do fluxo normal e permite posicioná-la em relação ao container pai (.img-box) */
  top: 3rem;                    /* distancia 3rem do topo do container pai */
  display: block;               /* transforma a imagem em bloco, eliminando espaços em linha que o img teria por padrão */
  width: 85%;                   /* a imagem ocupa 85% da largura do container pai */
  object-fit: cover;            /* mantém proporção da imagem, cortando partes se necessário para preencher o espaço */
  mix-blend-mode: lighten;      /* mistura visual da imagem com o fundo: clareia as áreas combinadas com o fundo */
}

.heading {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: var(--main-color);
}

.resume-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}

.resume-box h2 {
  font-size: 4.5rem;
}

.resume-box p {
  font-size: 1.5rem;
}

.resume-box .content {
  font-size: 1.4rem;
}

.resume-box .desc {
  margin: 2rem 0 2.5rem; /* 2rem: margem superior; 0: margem direita e esquerda; 2.5rem: margem inferior*/
}

.resume-box .resume-btn {
  width: 100%;
  height: 5.3rem;
  background: var(--second-bg-color);
  border: .2rem solid var(--second-bg-color);
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: .8rem;
  cursor: pointer;  /* Cursor de mãozinha ao passar o mouse */
}

.resume-box .resume-btn.active {
  border-color: var(--main-color);
  color: var(--main-color);
}

.resume-box .resume-detail {
  display: none;   /* Por padrão, os detalhes ficam escondidos */
}

.resume-detail.active {
  display: block;   /* Quando a classe "active" é adicionada, os detalhes aparecem */
}

.resume-box .heading {
  font-size: 3.5rem;
  text-align: left;
}

.resume-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  /* auto-fit: o grid cria o máximo de colunas que couberem no espaço, se adaptando automaticamente (responsivo).
     minmax(30rem, 1fr): cada coluna terá no mínimo 30rem de largura, mas pode crescer até ocupar 1 fração do espaço disponível.*/
  gap: 2rem;       /* espaçamento entre os itens do grid */
  height: 70rem;
  overflow: auto;  /* adiciona barra de rolagem se o conteúdo passar da altura */
}

.resume-list::-webkit-scrollbar {
  width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 1rem;
}

.resume-list .resume-item {
  background: var(--second-bg-color);
  border-radius: .8rem;
  padding: 3rem 2.5rem;
  height: calc((70rem - 2rem) / 2);
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.resume-item year {
  color: var(--main-color);
}

.resume-item h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

.resume-item .company {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.resume-item .company::before {
  content: '';
  position: absolute;
  top: 50%;                     /* Move a borda superior para 50% da altura do elemento pai.*/
  transform: translateY(-50%);  /* Centraliza verticalmente o elemento, movendo-o para cima em 50% de sua própria altura.*/
  padding: .5rem;
  background: var(--main-color);
  border-radius: 50%;
  margin-left: -2rem;
}

.resume-detail.skills .resume-list {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  height: auto;
  overflow: visible;
}

.resume-detail.skills .resume-item {
  position: relative;
  align-items: center;
  height: auto;
}

.resume-detail.skills .resume-item i {
  font-size: 8.5rem;
  transition: .5s;
}

.resume-detail.skills .resume-item:hover i {
  color: var(--main-color);
}

.resume-detail.skills .resume-item span {
  position: absolute;
  top: -20%;                      /* coloca o span acima do elemento (20% da altura dele) */
  background: var(--white-color);
  color: var(--bg-color);
  font-size: 1.6rem;
  padding: .5rem 1rem;
  border-radius: .6rem;
  pointer-events: none;           /* o mouse "ignora" o span (não clica nele) */
  opacity: 0;                     /* começa invisível */
  transform: scale(.9);           /* começa levemente menor (90%) */
  transition: .2s;
}

.resume-detail.skills .resume-item:hover span {
  top: -25%;
  opacity: 1;
  transform: scale(1);
}

.resume-detail.about .resume-list {
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.resume-detail.about .resume-item {
  height: auto;
  padding: 0 0 .5rem;  /* top; right and left; bottom*/
  background: transparent;
}

.resume-detail.about .resume-item p {
  color: var(--main-color);
}

.resume-detail.about .resume-item p span {
  color: var(--white-color);
  margin-left: 1rem;
  font-size: 1.6rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.portfolio-detail {
  display: none;
}

.portfolio-detail.active {
  display: block;
}

.portfolio-box .numb {
  font-size: 8rem;
  -webkit-text-stroke: .07rem var(--white-color); /* cria um contorno da fonte (stroke) de 0.07rem na cor branca */
  color: transparent;         /* deixa o preenchimento da fonte transparente, mostrando apenas o contorno */
  line-height: 1;             /* altura da linha igual à altura da fonte, evita espaçamento extra */
}

.portfolio-box h3 {
  font-size: 3.5rem;
  margin: .8rem 0 2rem;
}

.portfolio-box p {
  font-size: 1.6rem;
}

.portfolio-box .tech {
  margin: 2rem 0;
  color: var(--main-color);
  border-bottom: .1rem solid var(--white-color);  /* .1rem: espessura da linha; solid: estilo da linha; cor da linha*/
  padding-bottom: 2rem;
}

.portfolio-box .live-github a {
  position: relative;
  display: inline-flex;
  padding: 1.3rem;
  font-size: 3rem;
  color: var(--white-color);
  border-radius: 50%;
  background-color: var(--second-bg-color);
  transition: .5s;
}

.portfolio-box .live-github a:hover {
  color: var(--main-color);
}

.portfolio-box .live-github a:first-child {
  margin-right: 1.5rem;
}

.portfolio-box .live-github a:first-child i {
  transform: rotate(135deg);
}

.portfolio-box .live-github a span {
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translateX(-50%) scale(.9);
  font-size: 1.6rem;
  white-space: nowrap;
  padding: .5rem 1rem;
  border-radius: .6rem;
  pointer-events: none;
  background: var(--white-color);
  color: var(--bg-color);
  opacity: 0;
  transition: .2s;
}

.portfolio-box .live-github a:hover span {
  top: -70%;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.portfolio-box .portfolio-carousel {
  width: 100%;
  height: 45rem;
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio-carousel .img-slide {
  display: grid;
  grid-auto-flow: column;   /* organiza os itens automaticamente em colunas, horizontalmente */
  grid-auto-columns: 100%;  /* cada coluna terá 100% da largura do container */
  gap: 2rem;                /* espaço entre cada coluna (slide) */
  height: inherit;
  transition: .5s;
}

.portfolio-carousel .img-item {
  height: inherit;
}

.portfolio-carousel .img-item img {
  display: block;        /* remove espaços em linha que o <img> teria por padrão, tornando-o um bloco */
  width: 100%;           /* a imagem ocupa 100% da largura do container pai (.img-item) */
  height: 100%;          /* a imagem ocupa 100% da altura do container pai */
  object-fit: cover;     /* mantém proporção da imagem, cortando partes se necessário para preencher o container */
  border-radius: 1rem;
}

.portfolio-box .navigation {
  text-align: right;
  margin-top: 2rem;
}

.portfolio-box .navigation button {
  display: inline-flex;
  padding: .4rem;
  background: var(--second-bg-color);
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  font-size: 4rem;
  color: var(--main-color);
  cursor: pointer;
}

.portfolio-box .navigation button.disabled {
  border-color: var(--second-bg-color);
  color: var(--disabled-color);
}

.portfolio-box .navigation .arrow-right {
  margin-left: 1.5rem;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contact-box h2 {
  font-size: 4.5rem;
}

.contact-box p {
  font-size: 1.6rem;
}

.contact-box .desc {
  margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-detail {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.contact-detail i {
  display: inline-flex;
  background: var(--second-bg-color);
  color: var(--main-color);
  font-size: 3rem;
  padding: 1.2rem;
  border-radius: .6rem;
  margin-right: 1.5rem;
}

.contact-detail .detail p:first-child {
  color: var(--main-color);
}


/* breakpoints */

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }
}

@media screen and (max-width: 810px) {
  .contact-box .field-box {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    text-align: center;
    display: none;
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    margin: 4rem 0
  }

  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
  }

  .home-img .img-box {
    width: 35rem;
    height: 35rem;
  }

  .resume-container,
  .portfolio-container,
  .contact-container {
    grid-template-columns: 1fr;
  }

  .resume-container {
    gap: 3rem;
  }

  .portfolio-container .portfolio-box:first-child {
    order: 1;
  }

  .contact-box .field-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .home-img .img-box {
    width: 30rem;
    height: 30rem;
  }

  .contact-box .field-box {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 400px) {
  .home-detail,
  .resume-box h2,
  .resume-box .heading,
  .resume-box .desc,
  .resume-detail.about .resume-item {
    text-align: center;
  }

  .home-detail .btn-sci {
    flex-direction: column-reverse;
  }

  .home-detail .btn-sci .sci {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .contact-box form {
    padding: 2.5rem 3rem 3.5rem;
  }

  .contact-box h2 {
    font-size: 3.5rem;
  }
}